<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <title>MaTCH</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <!-- needs images, font... therefore can not be part of ui.css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
        <!-- end needs images -->

            <link rel="stylesheet" href="styles/main.css">

    </head>
    <body data-ng-app="app" id="app" data-custom-background data-off-canvas-nav>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-ng-controller="AppCtrl">
            <div data-ng-hide="isSpecificPage()"
                 data-ng-cloak>
                <section data-ng-include=" 'views/header.html' "
                     id="header" class="top-header"></section>

                <aside data-ng-include="whichNav()"
                        id="nav-container"></aside>
            </div>

            <div class="view-container">
 
                <section data-ng-if="showLevels()" data-ng-include=" 'views/levels.html' "
                id="levelselectors"></section>

                <section data-ng-view id="content" class="animate-fade-up"></section>
            </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/jvectormap/jquery.jvectormap.min.js"></script>
        <script src="scripts/vendors/jquery-jvectormap-world-mill-en.js"></script>
        <script src="scripts/vendors/hexbin.js"></script>
        <script src="scripts/vendors/matrix.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/jquery-spinner/dist/jquery.spinner.min.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <script src="bower_components/jquery-steps/build/jquery.steps.min.js"></script>
        <script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="scripts/vendors/responsive-tables.js"></script>
        <script src="bower_components/d3pie/d3pie/d3pie.min.js"></script>
        <script src="bower_components/d3-cloud/d3.layout.cloud.js"></script>
        <script src="bower_components/d3-plugins/hexbin/hexbin.js"></script>
        <script src="scripts/vendors/graphing.js"></script>
        <script src="scripts/vendors/columngraph.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,client}) scripts/app.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/shared/main.js"></script>
        <script src="scripts/shared/directives.js"></script>
        <script src="scripts/shared/localize.js"></script>
        <script src="scripts/UI/UICtrl.js"></script>
        <script src="scripts/UI/UIDirective.js"></script>
        <script src="scripts/UI/UIService.js"></script>
        <script src="scripts/Form/FormDirective.js"></script>
        <script src="scripts/Form/FormCtrl.js"></script>
        <script src="scripts/Form/FormValidation.js"></script>
        <script src="scripts/Table/TableCtrl.js"></script>
        <script src="scripts/Task/Task.js"></script>
        <script src="scripts/Chart/ChartCtrl.js"></script>
        <script src="scripts/Chart/ChartDirective.js"></script>
        <script src="scripts/Plot/PlotCtrl.js"></script>
        <!-- endbuild -->
    </body>
</html>
