<div class="page page-charts" data-ng-controller="AgePlotCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">Age groups</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Age cohorts</h3>
                        </div>
                        <div class="modal-body">
                Use the trait you selected in the main analyses or select a different trait and watch the bars adjust to show the weighted averages of twin correlations and variance components across 4 age cohorts. Error bars denote standard errors. Scroll down for least squares estimates and reported variance components.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

    <div class="row">

            <h3 class="text-center">Twin Correlations</h3>

            <div ng-repeat="group in agegroups" class="col-lg-3 col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-body text-center">{{group.name}}</div>
                    <div id="cor-age-group-{{group.number}}" class="bar graph box"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{group.name}}</h3>
                    </div>
                    <div class="panel-body">{{current.trait}}</div>
                    <div id="stats-cor-group-{{group.number}}" class="table-responsive"></div>
                </div>

            </div>

        </div>

        <div class="row">
            <h3 class="text-center">Least Squares Estimates</h3>

            <div ng-repeat="group in agegroups" class="col-lg-3 col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-body text-center">{{group.name}}</div>
                    <div id="m2-age-group-{{group.number}}" class="bar graph box"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{group.name}}</h3>
                    </div>
                    <div class="panel-body">{{current.trait}}</div>
                    <div id="stats-m2-group-{{group.number}}" class="table-responsive"></div>
                </div>

            </div>
            
        </div>

        <div class="row">
            <h3 class="text-center">Reported ACE</h3>

            <div ng-repeat="group in agegroups" class="col-lg-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">{{group.name}}</div>
                    <div id="ace-age-group-{{group.number}}" class="bar graph box"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{group.name}}</h3>
                    </div>
                    <div class="panel-body">{{current.trait}}</div>
                    <div id="stats-ace-group-{{group.number}}" class="table-responsive"></div>
                </div>

            </div>
            
        </div>

    </div>