<div class="page page-charts">

	<div class="row" data-ng-controller="CloudCtrl">
        <div class="col-lg-12">
            <div class="input-group panel">
                <p class="form-control-static"><span class="info-heading">Word cloud</span> Showing {{top()}}{{entries > limit ? limit : entries}} unique trait names</p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Trait names Word cloud</h3>
                        </div>
                        <div class="modal-body">
We classified measured traits into a functional domain and the ICD10/ICF chapter and subchapter levels. If you wish to know what the actual trait names were as they appeared in the original paper, simply select your trait and we’ll give you a word cloud!<br><br>
<i>Disclaimer: the actual trait names were not used for statistical analyses and were not checked for typos etc.</i>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


        <div class="col-lg-12">
            <div class="panel panel-default" >
                <div id="cloud"></div>
            </div>
        </div>

	</div>

</div>
