<div class="page page-charts" data-ng-controller="multiTraitCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">{{title}}</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open(template)"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalCor.html">
                        <div class="modal-header">
                            <h3>Twin correlations overview</h3>
                        </div>
                        <div class="modal-body">
Select one of the three levels: functional domain, ICD10/ICF chapter or ICD10/ICF subchapter level and compare the 8 twin correlations across all categories. You can select to see only a subset of twin correlations, and can choose which one you would like to sort on, to allow e.g. a quick overview of which traits show the largest rMZ.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script>
                <script type="text/ng-template" id="myModalACE.html">
                        <div class="modal-header">
                            <h3>Reported ACE overview</h3>
                        </div>
                        <div class="modal-body">
Select one of the three levels: functional domain, ICD10/ICF chapter or ICD10/ICF subchapter level and compare the 8 variance components across all categories. You can select to see only a subset of variance components, and can choose which one you would like to sort on.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script>
                <script type="text/ng-template" id="myModalLse.html">
                        <div class="modal-header">
                            <h3>Least squares overview</h3>
                        </div>
                        <div class="modal-body">
Select one of the three levels: functional domain, ICD10/ICF chapter or ICD10/ICF subchapter level and compare the 8 statistics derived from applying Falconers equations to the weighted average of twin correlations, across all categories. You can select to see only a subset of least squares variance components, and can choose which one you would like to sort on.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

    <div class="row">

        <form class="form-horizontal col-lg-3" role="form">

            <div class="form-group">
                <label class="col-sm-2 control-label">Select</label>
                <div class="col-sm-10">
                    <select 
                        id="levelselect"
                        ng-model="levelselect" 
                        ng-init="levelselect='level1'"
                        ng-change="new_barplot()"
                        class="form-control">
                        <option value="level1">Domain</option>
                        <option value="level2">ICF/ICD10 Main Chapter</option>
                        <option value="level3">ICF/ICD10 Subchapter</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sort</label>
                <div class="col-sm-10">
                    <select ng-model="grselect" 
                            ng-change="update_barplot()" 
                            ng-options="prefix + group for group in groups"
                            ng-init="grselect = groups[0]"
                            id="groupselect" 
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">

                <label class="col-sm-2 control-label">Show</label>

                <div class="col-sm-10">

                    <div class="checkbox" ng-repeat="group in groups">

                       <label>
                            <input ng-model="cfilter[group]" 
                                    ng-change="update_barplot()"
                                    type="checkbox"
                                    id="{{group}}"
                                    value="{{group}}">
                                <span style="display: inline-block; width: 74px" class="label label-default">{{prefix+group}}</span>
                        </label>

                    </div>

                </div>
            </div>

        </form>

        <div class="col-lg-9" ng-init="new_barplot()">

            <div class="panel panel-default">
                <div class="panel-heading dropdown">
                    {{title}}
                </div>

                <div id="barplot"></div>

            </div>
            
        </div>

    </div>

</div>
