<div class="page page-charts" data-ng-controller="PlotCtrl">

    <div class="row">

        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">Main analysis</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Main analysis</h3>
                        </div>
                        <div class="modal-body">
Select a specific trait from the drop down menus at the top, and watch the bars adjust to show the weighted averages of twin correlations and variance components. Error bars denote standard errors. The least squares estimates in the middle panel are the variance components based on Falconer’s equations: h²=2*(rMZ-rDZ) and c²=2rDZ-rMZ, without limiting these at zero or (minus) one.                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->

    </div>

    <div class="row">

        <div ng-repeat="panel in mainpanels" class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-body text-center">{{current.trait}}</div>
                <div id="{{panel.id}}" class="graph box bar"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading dropdown">
                    <button class="btn btn-default btn-xs dropdown-toggle pull-right" type="button" disabled id="{{panel.dropdownid}}" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="{{panel.dropdownid}}">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="<?=url('/download/pubmed/')?>{{levelselect.level}}/{{trait.name}}">Download PubMed IDs</a></li>
                    </ul>
                    <h3 class="panel-title text-center">{{panel.title}}</h3>
                </div>
                <div class="panel-body">{{current.trait}}</div>
                <div id="{{panel.tableid}}" class="table-responsive"></div>
            </div>

        </div>

    </div>

</div>





  