<div class="page page-charts" data-ng-controller="punchCardCtrl">

    <div class="row">

        <form class="form-horizontal col-lg-3" role="form">

            <div class="form-group">
                <label class="col-sm-2 control-label">Select</label>
                <div class="col-sm-10">
                    <select 
                        id="levelselect"
                        ng-model="levelselect" 
                        ng-init="levelselect='level1'"
                        ng-change="new_punchcard()"
                        class="form-control">
                        <option value="level1">Domain</option>
                        <option value="level2">ICF/ICD10 Main Chapter</option>
                        <option value="level3">ICF/ICD10 Subchapter</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sort</label>
                <div class="col-sm-10">
                    <select ng-model="grselect" 
                            ng-change="update_punchcard()" 
                            ng-options="'r' + group for group in groups"
                            ng-init="grselect = groups[0]"
                            id="groupselect" 
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">

                <label class="col-sm-2 control-label">Show</label>

                <div class="col-sm-10">

                    <div class="checkbox" ng-repeat="group in groups">

                       <label>
                            <input ng-model="cfilter[group]" 
                                    ng-change="update_punchcard()"
                                    type="checkbox"
                                    id="{{group}}"
                                    value="{{group}}">
                                <span class="label label-default">r{{group}}</span>
                        </label>

                    </div>

                </div>
            </div>

        </form>

        <div class="col-lg-9" ng-init="new_punchcard()">

            <div class="panel panel-default">

                <div id="levels"></div>

            </div>
            
        </div>

    </div>

</div>
