<div class="page page-charts" data-ng-controller="Scatter2Ctrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">Effect vs sample size</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Effect versus sample size</h3>
                        </div>
                        <div class="modal-body">
Use the trait you selected in the main analyses or select a different trait. The scatter plots show the relation between the twin correlations or reported variance components and sample size. This helps in identifying publication bias, which arises when small studies are only accepted for publication when they report statistically significant, and thus large effects.

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

	<div class="row">

		<h3 class="text-center">{{current.trait}}</h3>

		<div class="col-lg-3" ng-repeat="estimate in estimates">

			<div class="panel panel-default">
				<div class="panel-body text-center">{{estimate.name}}</div>
		      	<div id="{{estimate.id}}" class="graph box scatter"></div>
			</div>

		</div><!-- col-lg-3 -->

	</div>

</div>