<div class="page page-charts" data-ng-controller="Scatter1Ctrl">

	<div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">MZ versus DZ</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>MZ versus DZ</h3>
                        </div>
                        <div class="modal-body">
                Use the trait you selected in the main analyses or select a different trait. The scatter plots show the relation between the MZ and DZ correlation for all, same sex, male or female pairs. R-sq is the square of the correlation (or the proportion of variance explained) between the MZ and DZ correlations. The Table provides the outcomes of the tests for π₀(h), which is proportion of observations consistent with H₀: 2*(rMZ-rDZ) = 0, and π₀(c), which is the proportion of observations consistent with H₀: 2*rDZ-rMZ = 0. A π₀(c) of 0.69 can be interpreted as ‘69% of all studies for this trait are consistent with a simple and parsimonious model where all trait resemblance between twins is due to additive genetic influences’.
               <br><br>
                π₀(h) and π₀(c) are only calculated on Nentries >= 10.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

	<div class="row">

		<div class="col-lg-3" ng-repeat="estimate in estimates">

			<div class="panel panel-default">
				<div class="panel-body text-center">{{current.trait}}</div>
		      	<div id="{{estimate.id}}" class="graph box scatter"></div>
			</div>


			<div class="panel panel-default">
				<div class="panel-body">{{current.trait}}</div>
		      	<div id="{{estimate.table.id}}" class="table-responsive"></div>
	      	</div>

		</div><!-- col-lg-3 -->

	</div>
	<div class="row">

		<div class="col-lg-6">

			<div class="alert alert-info" role="alert">
				<p>
			      <strong>π<sub>0</sub>(h)</strong> proportion of observations consistent with H<sub>0</sub>: 2*(rMZ-rDZ) = 0<br>
			      <strong>π<sub>0</sub>(c)</strong> proportion of observations consistent with H<sub>0</sub>: 2*rDZ-rMZ = 0
				</p>
				<p>
			      <i>π<sub>0</sub>(h) and π<sub>0</sub>(c) are only calculated on Nentries >= 10</i>
				</p>

		    </div>

		</div><!-- col-lg-6 -->

	</div>

</div>