<div class="page page-charts">

	<div class="row" data-ng-controller="SearchCtrl">


        <div class="col-lg-12">
            <form class="panel panel-default" >
                <div class="panel-body">
                    <p style="font-size: 1.2em">All trait names that we encountered in twin papers have been recoded into standard trait categories, following the World Health Organization (WHO) family of international classifications. We used the <a href="http://apps.who.int/classifications/icfbrowser/">International Classification of Functioning, Disability and Health (ICF)</a> for non-disease traits and the <a href="http://apps.who.int/classifications/icd10/browse/2010/en">International Statistical Classification of Diseases and Related Health Problems ICD-10</a> for diseases. Traits were classified on the main chapter level of ICD10 or ICF as well as on the trait (subchapter) level. In addition we classified traits into main trait domains. If you are unsure of the official classification of a trait you can use the search function below. Based on your search term, we will search for entries in which your term occurred in the trait name as it occurred in the original study or in the ICF/ICD10 subchapter level.</p>

                    <p class="alert alert-info" style="font-size: 1.2em">Note that the same search term may be classified under different categories. For example, the main subchapter classification for search term ‘iq’ is classified as ‘Higher’Level Cognitive Functions’, but the search term is also classified for ‘Mental and Behavioural Disorders Due to Use of Alcohol’  - because the word ‘l<b>iq</b>uor’ was part of the questionnaire item used in that particular study - and in ‘Urinary Bladder’ - because the trait as it appeared in the paper included 'obl<b>iq</b>ue bladder neck descent test’. The #papers gives an indication of what the main classification for the search term is, and one can always double check which trait names were used in the original papers by creating the <a class="btn btn-default btn-info btn-xs" href="#/specific/cloud">wordcloud</a> for e.g. ‘Urinary Bladder’.</p>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon fa fa-search" id="sizing-addon1"></span>
                        <input 
                            ng-model="searchterms"
                            ng-change="smartsearch()"
                            class="form-control"
                            placeholder="Search trait name">
                    </div>
                </div>

                <br>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>ICF/ICD10 Main Chapter</th>
                            <th>ICF/ICD10 Subchapter</th>
                            <th># papers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="name in results">
                            <td>{{name.level1}}</td>
                            <td>{{name.level2}}</td>
                            <td>{{name.level3}}</td>
                            <td>{{name.cnt}}</td>
                        </tr>
                        <tr ng-hide="results.length > 0">
                            <td colspan="4">No records found</td>
                        </tr>

                    </tbody>
                </table>
            </form>
        </div>

	</div>

</div>
