<div class="page page-charts">

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel">
                <p class="form-control-static"><span class="info-heading">Traits</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Traits</h3>
                        </div>
                        <div class="modal-body">
The histograms show the relative frequency of published studies (PMIDS) per functional domain or the number of investigated traits per functional domain. The pie-charts show the proportions of traits that are dichotomous or continuous, or that measure diseases, symptoms of disease or healthy function.

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

    <div class="row" data-ng-controller="ColCtrl">
        <div class="col-lg-12">
            <div class="panel panel-default" >
                <div class="panel-heading dropdown">
                    {{level.label}} (n pmids)
                </div>

                <div id="{{level.value}}-pmid"
                    class="col graph"
                    ng-init="draw(level.value, 'pmid')"></div>
            </div>
        </div>
    </div><!-- row -->

    <div class="row" data-ng-controller="ColCtrl">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   {{level.label}} (n entries)
                </div>
                <div id="{{level.value}}"
                    class="col graph"
                    ng-init="draw(level.value)"></div>            
                </div>
        </div>
    </div><!-- row -->


    <div class="row">

        <div class="col-lg-6">

            <div class="panel panel-default" ng-controller="PieCtrl">
                <div class="panel-heading dropdown">
                    Disease v.s. Non-disease
                </div>

                <div id="disease" ng-init="draw('disease')"></div>

            </div>
            
        </div>

        <div class="col-lg-6">

            <div class="panel panel-default" data-ng-controller="PieCtrl">
                <div class="panel-heading dropdown">
                    Dichotomous v.s. Continuous
                </div>

                <div id="continuous" ng-init="draw('continuous')"></div>

            </div>
            
        </div>

    </div><!-- row -->






</div>
