<header class="clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->

    <div class="top-nav" ng-controller="TopNavCtrl">
        <ul class="nav-left list-unstyled">
            <li ng-repeat="section in sections">
                <a href="#{{section.link}}">{{section.sub}}</a>
            </li>
        </ul>
    </div>

    <div class="menu-button" toggle-off-canvas>
        <span class="fa minimize-button"></span>
    </div>

    <div class="nav-button" toggle-menu>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>




</header>