<div class="page">

<div id="barheader" style="height: 100px; background: #fff url(images/barheader.png); background-size:auto 100px"></div>

    <div class="row">

    	<div class="col-sm-offset-2 col-sm-8">
    		<div class="panel panel-default">
    			<div class="panel-body" style="font-size: 1.2em; padding: 20px 40px">
	                <h1>MaTCH <small>Meta-Analysis of Twin Correlations and Heritability</small></h1>
					<p>This website provides a resource for the heritability of all human traits that have been investigated with the classical twin design. The traits have been classified into 28 broad trait domains, as well as according to the standard classification schemes of the International Classification of Functioning, Disability and Health (ICF) or the International Classification of Diseases and Related Health Problems (ICD-10). 
					Currently the database includes information from 2748 papers, published between 1958 and 2012, reporting on 17804 traits on a total of 14,558,903 twin pairs. Have Fun!
					</p>
                    <p>Please refer to the original paper: Polderman TJC, Benyamin B, de Leeuw CA, Sullivan PF, van Bochoven A, Visscher PM, Posthuma D. Meta-Analysis of the Heritability of Human Traits based on Fifty Years of Twin Studies. Nature Genetics, doi:10.1038/ng.3285, published online May 18, 2015</p>

		        </div>
        	</div>
        </div>
    </div><!-- row -->

    <aside data-ng-include="'views/nav/nav_buttons.html'"></aside>



</div>