    <div data-ng-controller="LevelCtrl">

        <div class="col-sm-3">

            <select 
                class="form-control"
                ng-change="resetOptions('level1', 'level2', 'level3')" 
                ng-model="levelselect" 
                ng-options="c.name for c in levelselects">
            </select>
           
        </div>

        <div class="col-sm-9 ng-hide" ng-show="levelselect.level == 'level1'">
            <select class="form-control"
                ng-change="resetOptions('level2', 'level3')"
                ng-model="level1" 
                ng-options="c.name + ' (' + c.count + ')' for c in dbLevels.level1">
            </select>
        </div>
        <div class="col-sm-9 ng-hide" ng-show="levelselect.level == 'level2'">
            <select class="form-control"
                ng-change="resetOptions('level1', 'level3')"
                ng-model="level2"
                ng-options="c.name + ' (' + c.count + ')' for c in dbLevels.level2">
            </select>
        </div>
        <div class="col-sm-9 ng-hide" ng-show="levelselect.level == 'level3'">
            <select class="form-control"
                ng-change="resetOptions('level1', 'level2')"
                ng-model="level3"
                ng-options="c.name + ' (' + c.count + ')' for c in dbLevels.level3">
            </select>
        </div>
          
    </div>