.non-display {
    display: none;
}

.page {
    padding: 15px;
}

.showlevels{
  .page{
    padding-top: 0;
  }
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}
/* Graph headings */
.panel-body.text-center
{
  font-weight: bold;
}
.graph.box{
    height: 230px;
}

.bar.graph.two{
    height: 100px;
}

.graph .area {
  fill: steelblue;
}

.bar.graph .bar .se, #barplot .se {
  fill: brown;
}

.graph text, #barplot text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#barplot text.label{
  fill: black;
}

.graph text.label, .graph text.title{
  fill: black;
  text-anchor: middle;
  font: 14px sans-serif;
}

.bar.graph text.title
{
  font-weight: bold;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.graph .x.axis path, .graph .y.axis path, .graph .x.grid path {
}

.graph .grid path
{
  display: none;
}

rect.negative {
  fill: red;
}

.x.axis text, .y.axis text{
    fill: black;
}

.grid line
{
    stroke: #eee;
}

.graph .trendline
{
  stroke: red;
}

.graph .trendline-label
{
  fill: red;
}

.graph circle
{
  stroke: rgb(54, 144, 192);
  fill: rgb(54, 144, 192);
  opacity: 0.3;
}

.axis path,.axis line
{
  fill: none;
  stroke:#ddd;
  shape-rendering: crispEdges;
}

.item
{
  fill: grey;
}

#barplot .item
{
  text-anchor: end;
}

.item rect
{
  fill: #eee;
}

.graph.col{
  height: 300px; 
  overflow-x: auto; 
  overflow-y: hidden
}