<div class="page">

    <section data-ng-controller="authorCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group panel">
                    <div class="input-group-btn" ng-model="order">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{order}} <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a ng-repeat="item in items" ng-click="setOrder(item)" href="javascript:">{{item.name}}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <p class="form-control-static"></p>
                    <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                        <button class="btn btn-primary" 
                        ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-header">
                                <h3>Authorship co-occurence matrix</h3>
                            </div>
                            <div class="modal-body">
                    Each colored cell represents two authors that appeared on the same paper; darker cells indicate authors that co-published more frequently. The filter of at least x papers per author is set for optimal readability on your screen. This filter only counts papers with at least two authors that have at least x papers. Order by cluster to see which authors co-publish and order by frequency to see which individual published most twin papers.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                            </div>
                        </script></button>

                    </div>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->


        <div class="row">


            <div class="col-lg-12">

                <div class="panel panel-default">

                    <div id="matrix"></div>

                </div>

            </div>


        </div>

    </section>

</div>