<div class="page page-charts">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title text-center">GLOSSARY</h3>
                </div>
								
				<table class="table table-default">
					<tbody>
						<tr>
							<th>Term</th>
							<th>Explanation</th>
						</tr>
						<tr>
							<td>rMZM</td>
							<td>Monozygotic Male twins correlation</td>
						</tr>
						<tr>
							<td>rMZF</td>
							<td>Monozygotic Female twins correlation</td>
						</tr>
						<tr>
							<td>rDZM</td>
							<td>Dizygotic Male twins correlation</td>
						</tr>
						<tr>
							<td>rDZF</td>
							<td>Dizygotic Female twins correlation</td>
						</tr>
						<tr>
							<td>rDOS</td>
							<td>Dizygotic Opposite sex twins correlation</td>
						</tr>
						<tr>
							<td>rMZall</td>
							<td>Monozygotic twins correlation</td>
						</tr>
						<tr>
							<td>rDZSS</td>
							<td>Dizygotic same sex twins correlation</td>
						</tr>
						<tr>
							<td>rDZall</td>
							<td>Dizygotic twins correlation</td>
						</tr>
						<tr>
							<td>h2BEST_M</td>
							<td>h2 as estimated from best fitting model, for males.</td>
						</tr>
						<tr>
							<td>c2BEST_M</td>
							<td>c2 as estimated from best fitting model, for males</td>
						</tr>
						<tr>
							<td>h2FULLACE_M</td>
							<td>h2 as estimated from full <span class="caps">ACE </span>model, for males</td>
						</tr>
						<tr>
							<td>c2FULLACE_M</td>
							<td>c2 as estimated from full <span class="caps">ACE </span>model, for males</td>
						</tr>
						<tr>
							<td>h2BEST_F</td>
							<td>h2 as estimated from best fitting model, for females</td>
						</tr>
						<tr>
							<td>c2BEST_F</td>
							<td>c2 as estimated from best fitting model, for females</td>
						</tr>
						<tr>
							<td>h2FULLACE_F&nbsp;</td>
							<td>h2 as estimated from full <span class="caps">ACE </span>model, for females</td>
						</tr>
						<tr>
							<td>c2FULLACE_F</td>
							<td>c2 as estimated from full <span class="caps">ACE </span>model, for females</td>
						</tr>
						<tr>
							<td>h2BEST_all</td>
							<td>h2 as estimated from best fitting model, for males+females, including same sex and opposite sex pairs</td>
						</tr>
						<tr>
							<td>c2BEST_all&nbsp;</td>
							<td>c2 as estimated from best fitting model, for males+females,including same sex and opposite sex pairs</td>
						</tr>
						<tr>
							<td>h2FULLACE_all</td>
							<td>h2 as estimated from full model, for males+females, including same sex and opposite sex pairs</td>
						</tr>
						<tr>
							<td>c2FULLACE_all</td>
							<td>c2 as estimated from full model, for males+females, including same sex and opposite sex pairs</td>
						</tr>
						<tr>
							<td>h2BEST_SS</td>
							<td>h2 as estimated from best fitting model, for females+males, but only based on same sex pairs</td>
						</tr>
						<tr>
							<td>c2BEST_SS</td>
							<td>c2 as estimated from best fitting model, for females+males, but only based on same sex pairs</td>
						</tr>
						<tr>
							<td>h2FULLACE_SS</td>
							<td>h2 as estimated from full model, for females+males, but only based on same sex pairs</td>
						</tr>
						<tr>
							<td>c2FULLACE_SS</td>
							<td>c2 as estimated from full model, for females+males, but only based on same sex pairs</td>
						</tr>
						<tr>
							<td>Npairs</td>
							<td>Number of twin pairs</td>
						</tr>
						<tr>
							<td>z</td>
							<td>Fisher-Z transform of correlation</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>