<div class="page page-charts" data-ng-controller="journalCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">Journals</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Journals</h3>
                        </div>
                        <div class="modal-body">
The size of each colored dot is scaled relative to the number of total papers published in each specific journal. Hover over the dots to see the actual number of papers published in a specific year in a specific journal. The graph is sorted by the total number of published papers in a journal.


                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

    <div class="row">

        <div class="col-lg-12">

            <div class="panel panel-default">

                <div id="journal"></div>

            </div>
            
        </div>

    </div>

</div>
