<div class="page page-charts" data-ng-controller="pi0Ctrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel">
                <div class="input-group-btn" ng-model="levelselect">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{levelselect.label}} <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <li><a ng-repeat="p in levelselectors" ng-click="new_table(p)" href="javascript:">{{p.label}}</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <p class="form-control-static"></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>MZ versus DZ overview</h3>
                        </div>
                        <div class="modal-body">
Select one of the three levels: functional domain, ICD10/ICF chapter or ICD10/ICF subchapter level. The Table provides the outcomes across all categories of the tests for π₀(h), which is the proportion of observations consistent with H₀: 2*(rMZ-rDZ) = 0, and π₀(c), which is the proportion of observations consistent with H₀: 2*rDZ-rMZ = 0. A π₀(c) of 0.69 can be interpreted as ‘69% of all studies for this trait are consistent with a simple and parsimonious model where all trait resemblance between twins is due to additive genetic influences’.
 <br><br>
π₀(h) and π₀(c) are only calculated on Nentries >= 10.                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="row">

        <div class="col-lg-12" ng-init="new_table(levelselect)">

            <div class="panel panel-default">
                <form 
                    data-ng-controller="downloadCSV"
                    data-ng-submit="submit($event)"
                    target="_self"
                    class="panel-heading dropdown" 
                    method="post"
                    >
                    π<sub>0</sub> Table
                    <input value="" type="hidden" name="json">
                    <button class="btn btn-default btn-xs pull-right" type="submit">Download CSV</button>
                </form>

                

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3">All</th>
                                <th colspan="3">Same sex</th>
                                <th colspan="3">Males</th>
                                <th colspan="3">Females</th>
                            </tr>
                            <tr>
                                <th>Trait</th>
                                <th>π<sub>0</sub>(h)</th>
                                <th>π<sub>0</sub>(c)</th>
                                <th>Nentries</th>
                                <th>π<sub>0</sub>(h)</th>
                                <th>π<sub>0</sub>(c)</th>
                                <th>Nentries</th>
                                <th>π<sub>0</sub>(h)</th>
                                <th>π<sub>0</sub>(c)</th>
                                <th>Nentries</th>
                                <th>π<sub>0</sub>(h)</th>
                                <th>π<sub>0</sub>(c)</th>
                                <th>Nentries</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="row in tabledata.data">
                            <td>{{row[0]}}</td>
                            <td>{{row[1] == -1 ?'N.A.' : (row[1]| number:2)}}</td>
                            <td>{{row[2] == -1 ?'N.A.' : (row[2]| number:2)}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4] == -1 ?'N.A.' : (row[4]| number:2)}}</td>
                            <td>{{row[5] == -1 ?'N.A.' : (row[5]| number:2)}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7] == -1 ?'N.A.' : (row[7]| number:2)}}</td>
                            <td>{{row[8] == -1 ?'N.A.' : (row[8]| number:2)}}</td>
                            <td>{{row[9]}}</td>
                            <td>{{row[10] == -1 ?'N.A.' : (row[10]| number:2)}}</td>
                            <td>{{row[11] == -1 ?'N.A.' : (row[11]| number:2)}}</td>
                            <td>{{row[12]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>

    </div>

</div>
