<div class="page">

    <section data-ng-controller="">

        <div class="row">


            <div class="col-lg-12">

                <div class="panel panel-default">

                    Publication years: zie Fig 1C 3 lijngrafieken: x=years, y - Npapers of Totaal Npairs of Avg Npairs



                </div>

            </div>


        </div>

    </section>

</div>