<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li class="hidden-xs">
            <a href="#/minimize" data-toggle-min-nav> <i class="minimize-button fa fa-arrow-left"><span class="icon-bg bg-dark"></span></i></a>
        </li>
        <li>
        	<a href="#/multiple/twin_cor"> <i class="fa fa-bar-chart"><span class="icon-bg bg-warning"></span></i><span data-i18n="Twin Correlations"></span> </a>
        </li>
        <li>
        	<a href="#/multiple/lse"> <i class="fa fa-bar-chart"><span class="icon-bg bg-warning"></span></i><span data-i18n="Least Squares"></span> </a>
        </li>
        <li>
        	<a href="#/multiple/reported_ace"> <i class="fa fa-bar-chart"><span class="icon-bg bg-warning"></span></i><span data-i18n="Reported ACE"></span> </a>
        </li>
        <li>
            <a href="#/multiple/pi0">
                <i class="fa fa-table"><span class="icon-bg bg-warning"></span></i><span data-i18n="MZ vs. DZ"></span>
            </a>
        </li>
    </ul>
</div>