	<div class="row" ng-controller="NavBtnCtrl">
		
        <div class="col-sm-3" 
	    	data-ng-repeat="box in sections | filter:noSearch"
	    	>
            <a href="#{{box.link}}" class="panel mini-box" style="display: block"
	            >
                <span class="box-icon bg-{{box.color}}">
                    <i class="fa fa-{{box.icon}}"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">{{box.name}}</p>
                    <p class="text-muted">{{box.sub}}</p>
                </div>
            </a>                    
        </div>

    </div><!-- row -->
