<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li class="hidden-xs">
            <a href="#/minimize" data-toggle-min-nav> <i class="minimize-button fa fa-arrow-left"><span class="icon-bg bg-dark"></span></i></a>
        </li>
        <li>
        	<a href="#/overview/authors">
        		<i class="fa fa-th"><span class="icon-bg bg-warning"></span></i><span data-i18n="Authors"></span>
        	</a>
        </li>
        <li>
        	<a href="#/overview/journal">
        		<i class="fa fa-book"><span class="icon-bg bg-warning"></span></i><span data-i18n="Journals"></span>
        	</a>
        </li>
        <li>
            <a href="#/overview/traits">
                <i class="fa fa-pie-chart"><span class="icon-bg bg-warning"></span></i><span data-i18n="Traits"></span>
            </a>
        </li>
        <li>
            <a href="#/overview/search">
                <i class="fa fa-search"><span class="icon-bg bg-warning"></span></i><span data-i18n="Search"></span> </a>
        </li>

    </ul>
</div>