<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li class="hidden-xs"><a href="#/minimize" data-toggle-min-nav> <i class="minimize-button fa fa-arrow-left"><span class="icon-bg bg-dark"></span></i></a></li>
        <li><a href="#/specific/plot1"> <i class="fa fa-bar-chart"><span class="icon-bg bg-danger"></span></i><span data-i18n="Main Analysis"></span> </a></li>
        <li><a href="#/specific/age_groups"> <i class="fa fa-users"><span class="icon-bg bg-danger"></span></i><span data-i18n="Age Groups"></span> </a></li>
        <li><a href="#/specific/country"> <i class="fa fa-globe"><span class="icon-bg bg-danger"></span></i><span data-i18n="Country"></span> </a></li>
        <li><a href="#/specific/scatter_1"> <i class="fa fa-line-chart"><span class="icon-bg bg-danger"></span></i><span data-i18n="MZ vs. DZ"></span> </a></li>
        <li><a href="#/specific/scatter_2"> <i class="fa fa-line-chart"><span class="icon-bg bg-danger"></span></i><span data-i18n="Effect vs. Sample Size"></span> </a></li>
        <li><a href="#/specific/cloud"> <i class="fa fa-cloud"><span class="icon-bg bg-danger"></span></i><span data-i18n="Wordcloud"></span> </a></li>
    </ul>
</div>