.bg-dark {
  background-color: $gray-dark;
}
.view-containter {
    position: relative;
}

a{
  color: $brand-primary;
}

#levelselectors {
    position: absolute;
    top: $header_height;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    // @include transition(left .3s ease-in-out);
    @media (min-width:$screen-sm) {
        width: auto;
        left: 220px;
    }
    // !important, avoid flikering for all pages.
    // @include transition(left .25s ease-in-out);
    @include transition(none);
}

#content {
    position: absolute;
    top: $header_height;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    // @include transition(left .3s ease-in-out);
    @media (min-width:$screen-sm) {
        width: auto;
        left: 220px;
    }
    // !important, avoid flikering for all pages.
    // @include transition(left .25s ease-in-out);
    @include transition(none);
}

// for pages that show levels
.showlevels {
  #content {
    top: $header_height + $input-height-base * 2 + 20;

    @media (min-width:$screen-sm) {
        top: $header_height + $input-height-base + 20;

    }

  }
}

// for special page, like 404, sign in, sign up
.body-special {
    #content {
        z-index: 2;
        top: 0;
        left: 0;
    }
}
// lock screen
.body-lock {
    #content {
        background: url('../images/background/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.map {
  height: 400px;
}

.jvectormap-zoomin, .jvectormap-zoomout
{
  width: 30px;
  height: 30px;
  padding: 10px
}
.jvectormap-zoomout
{
  top: 45px;
}

// Authors
#matrix .background {
  fill: rgb(248,248,248);
}

#matrix line {
  stroke: #fff;
}

#matrix text.active {
  fill: red;
}

#matrix text
{
    font-size: .8em;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

// Info box
.info-heading{
  margin-left: 15px;
  font-weight: bold;
}

.info {
  margin-bottom: 20px;
  background: #fff;
}

// Font size for menu
#nav .fa {
  font-size: 20px;
}

// Responsive tables
//
// Applies to all sizes.

.table-responsive {
  @media screen {
    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
