.top-header {
    z-index: 1030;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header_height;
    background-color: $reverse;
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));
    @media (min-width:$screen-sm) {
        background-color: $dark;
    }

    // shared
    a {
        &:hover {
            text-decoration: none;
        }
    }

    .hidden-mobile {
        display: none;
        @media (min-width: $screen-xs) {
            display: inline;
        }
    }

    .toggle-min {
        display: none;
        z-index: 11;
        position: absolute;
        left: 180px;
        top: 10px;
        line-height: 30px;
        font-size: 18px;
        color: #ccc;
        @media (min-width:$screen-sm) {
            display: block;
        }

    }

    //
    .logo {
        position: absolute;
        width: 100%;
        height: $header_height;
        line-height: $header_height;
        text-align: center;
        background-color: $dark;
        @media (min-width: $screen-sm) {
            display: inline-block;
            width: 220px;
        }

        > a {
            font-size: 24px;
            vertical-align: middle;
            color: $bright;

            .logo-icon {
                color: $bright;
                margin-right: 12px;
            }
        }
    }

    // 
    .menu-button, .nav-button {
        display: block;
        position: absolute;
        top:  ( $header_height/2 - 17);
        width: 46px;
        padding: 10px 12px;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            background-color: darken($dark, 5%);
        }

        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }
        .icon-bar + .icon-bar {
            margin-top: 4px;
        }

        @media (min-width: $screen-sm) {
            display: none;
        }
    }

    .menu-button {
        left: 4px;
        top: 4px;
    }

    .nav-button {
        right: 20px;
    }

    // 
    .dropdown-menu.panel {
        padding: 0;
        //white-space: nowrap;
        min-width: 25em;
        
        .panel-heading,
        .panel-footer {
            padding: 10px 15px;
        }

        .list-group-item {
            padding: 10px 15px;
            > a {
                display: block;
            }
        }

        .media {
            .media-body {
                padding-right: 75px;
            }
        }
    }


    // 
    .top-nav {
        width:100%;
        padding: 50px 0 0;
        @media (min-width: $screen-sm) {
            padding: 10px 0 0 220px;
        }

        // 
        .nav-left,
        .nav-right {
            font-size: 16px;
            line-height: 22px;

            > li {
                display: block;

                @media (min-width: $screen-sm) {
                    float: left;
                }

                a {

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }

                > .btn-group > a,
                > a {
                    position: relative;
                    background-color: $dark;
                    color: $bright;
                    display: block;
                    padding: 8px 20px;
                    @media (min-width: $screen-sm) {
                        background-color: transparent;
                        color: $bright;
                        padding: 4px 8px;
                    }

                    .badge {
                        position: absolute;
                        top: -5px;
                        right: -10px;
                    }
                }

                ul.dropdown-menu {
                    // margin-top: 12px;
                    
                    a:hover {
                        background-color: $skin;
                        color: #fff;
                    }

                    .glyphicon {
                        margin-right: 10px;
                    }
                }
            }

            // color switch
            // .color-switch {
            //     > li {
            //         margin-bottom: 8px;
            //         &:last-child {
            //             margin-bottom: 0;
            //         }
            //     }
            // }
            // .color-option {
            //     display: block;
            //     padding: 10px;
            //     &.color-some_color {
            //         background-color: #482647;
            //         &:hover {
            //             background-color: lighten(#482647, 10%);
            //         }
            //     }
            // }
        }

        // 
        .nav-left {
            float: none;
            padding: 0;
            display: none;
            > li {
                margin-right: 0;
                @media (min-width: $screen-sm) {
                    margin-right: 15px;
                }
            }

            @media (min-width: $screen-sm) {
                float: left;
                padding: 0 $padding-base-horizontal;
                display: block;
            }

        }



        // 
        .nav-right {
            padding: 0 $padding-base-horizontal;
            > li {
                margin-left: 15px;
            }
        }
    }

    // 
    .langs {
        .list-langs {
            a {
                position: relative;
                padding: 8px 20px 8px 57px;

                .flag {
                    position: absolute;
                    top: 7px;
                    left: 15px;
                }
            }
        }
    }


}

