<div class="page" style="padding-top: 75px">

    <div class="row">

    	<div class="col-md-8">
    		<div class="panel panel-default">
    			<div class="panel-body" style="font-size: 1.2em; padding: 20px 40px">
                    <h1>How it works</h1>

                    <img src="images/main_analysis_help.jpg" class="img-responsive" alt="Help for main analysis page">

<p class="callout callout-info">To find the heritability of a trait, go to the <a href="#/specific">Analysis/Specific Traits section</a> and select a trait in the drop down menu. This will give you the weighted averages of twin correlations and variance components for that trait. If you would like to see this per age cohort, click on Age Cohorts in the menu on the left. For estimates per country, select the Country button on the left.</p>

<p>In addition, we provide the ratio’s of rMZ versus rDZ as well as test for the proportions of studies that are consistent with e.g. 2rDZ=rMZ or 2(rMZ-rDZ)=0, via the Mz vs. DZ button on the left. To evaluate possible publication bias, effect sizes as a function of sample size can be inspected, via Effect vs. Sample Size. All statistics are displayed in a convenient Table format.</p>

                    <img src="images/multiple_analysis_help.jpg" class="img-responsive" alt="Help for multiple analysis page">
<p class="callout callout-info">If you are interested in seeing estimates of multiple traits at once, then go to the <a href="#/multiple">Analysis/Multiple Traits section.</a></p>

<p>For a general overview of what is in the database, go to <a href="#/overview">What’s in here</a>, where you can see who publishes with whom, in which journals twin studies appeared and what kind of traits have been investigated in classical twin studies.</p>

<p>Further statistical details can be found in the supporting online material of Polderman TJC, Benyamin B, de Leeuw CA, Sullivan PF, van Bochoven A, Visscher PM, Posthuma D. Meta-Analysis of the Heritability of Human Traits based on Fifty Years of Twin Studies. Nature Genetics, doi:10.1038/ng.3285, published online May 18, 2015.</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="font-size: 1.2em; padding: 20px 40px">

	                <h1>About</h1>
					<p>The main aim of this resource is to provide meta-analytic estimates of twin correlations and variance components of all traits investigated in classical twin studies.</p>

<p>The internal database includes statistics that were derived from 2,748 classical twin studies, published between 1958 and 2012. For each study we collected reported twin correlations (or contingency tables in the case of dichotomous traits), estimates from genetic model fitting, as well as information regarding the sample size and background of the population, age cohort and ascertainment scheme (see <a href="#/overview/glossary">glossary</a>).</p>

<p>Investigated traits are classified into one of 28 functional trait domains as well as using the chapter and subchapter levels of the <a href="http://apps.who.int/classifications/icfbrowser/">International Classification of Functioning, Disability and Health</a> (ICF) or the <a href="http://apps.who.int/classifications/icd10/browse/2010/en">International Statistical Classification of Diseases and Related Health Problems</a> (ICD-10).</p>

<p>The backend of this website is an implementation of the DerSimonian Laird method for random effects meta-analysis on correlations. The meta-analyses can be carried out on any trait that can be selected from the drop down menus, and can be run separately for males and females, across different age groups and across different countries.</p>

<p>For comments or questions - contact us at d.posthuma@vu.nl</p>

<p>The website was programmed by Arjen van Bochoven/The Blue Bus webdesign.</p>

		        </div>
        	</div>
        </div>
    </div><!-- row -->

    <aside data-ng-include="'views/nav/nav_buttons.html'"></aside>

</div>