<div class="page page-charts" >
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group panel" style="background: #fff">
                <p class="form-control-static"><span class="info-heading">Country</span></p>
                <div class="input-group-btn" ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary" 
                    ng-click="open()"><i class="fa fa-info"></i><script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Country</h3>
                        </div>
                        <div class="modal-body">
Use the trait you selected in the main analyses or select a different trait. Hover over the map to see the total number of studies with at least one statistic, for each country. Darker colors reflect that more studies were conducted. The table provides weighted averages of twin correlations and variance components for each country. NA denotes that not enough information was available to calculate a weighted average.

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script></button>

                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /row -->

	<section data-ng-controller="mapCtrl">

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div map class="map"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					                <form 
                    data-ng-controller="downloadCSV"
                    data-ng-submit="submit($event)"
                    target="_self"
                    class="panel-heading dropdown" 
                    method="post"
                    >
                    {{current.trait}}
                    <input value="" type="hidden" name="json">
                    <button class="btn btn-default btn-xs pull-right" type="submit">Download CSV</button>
                </form>


					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th colspan="2" data-ng-repeat="group in corrs">r{{group}}</th>
									<th colspan="2" data-ng-repeat="group in aces">{{group}}</th>
								</tr>
								<tr>
									<th>Country</th>
									<th>Papers</th>
									<th>Ntraits</th>
									<th>Npairs</th>
									<th data-ng-repeat-start="group in corrs">Est.</th>
									<th data-ng-repeat-end>SE</th>
									<th data-ng-repeat-start="group in aces">Est.</th>
									<th data-ng-repeat-end>SE</th>
								</tr>
							</thead>
							<tr ng-repeat="(country, number) in mapData.country">
								<td>{{mapObj.mapData.paths[country].name}}</td>
								<td>{{number}}</td>
								<td>{{mapData.entries[country]}}</td>
								<td>{{mapData.pairs[country]}}</td>

								<td data-ng-repeat-start="group in corrs">{{mapData[group][country] == 0 ? 'N.A.' : (mapData[group][country] | number:2)}}</td>
								<td data-ng-repeat-end>{{mapData[group+'_se'][country] == 0 ? 'N.A.' : (mapData[group+'_se'][country]| number:3)}}</td>
								<td data-ng-repeat-start="group in aces">{{mapData[group][country] == 0 ? 'N.A.' : (mapData[group][country] | number:2)}}</td>
								<td data-ng-repeat-end>{{mapData[group+'_se'][country] == 0 ? 'N.A.' : (mapData[group+'_se'][country] | number:3)}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>